*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header start */

/* Header end */

/* Main start */
/* About */

/* why */

/* gallery */

/* contact */

/* Main end */

/* Footer start */

/* Footer end */