*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header start */

/* Header end */

/* Main start */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  gap: 2rem;
  /* min-height: 100rem; */
  grid-area: main;
}

main > section {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
/* About */

/* why */

/* gallery */

/* contact */

/* Main end */

/* Footer start */

/* Footer end */